<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload = "true"
      internalLogFile="logs/SysNlog.log"
  >
  <targets>
    <target xsi:type="File" name="ErrorLog" fileName="logs\${shortdate}-error.log"
            layout="${longdate}|${uppercase:${level}}|${message}|${event-context:item=type}|${event-context:item=message}|${event-context:item=ip}|${event-context:item=url}| ${exception:format=tostring}" />
    <target xsi:type="File" name="TraceLog" fileName="logs\${shortdate}-trace.log"
          layout="${longdate}|${uppercase:${level}}|${message}|${event-context:item=type}|${event-context:item=message}|${event-context:item=ip}|${event-context:item=url}| ${exception:format=tostring}" />
    <target name="Console" xsi:type="Console" layout="${longdate}|${message}"/>
    <target name="asyncdb" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="Database"  name="db" connectionString="${var:NLOG_CONNECTION_STRING}">
        <commandText>
          INSERT INTO [dbo].[Logs]([State],[CreateTime],[UpdateTime],[Type],[Message],[Content],[UserId],[TrueName],[IP],[Url])
          VALUES(1,@CreateDate,@CreateDate,@Type,@Message,@Content,@UserId,@TrueName,@IP,@Url);
        </commandText>
        <parameter name="@CreateDate" layout="${longdate}"/>
        <parameter name="@Type" layout="${event-context:item=type}"/>
        <parameter name="@Message" layout="${message}"/>
        <parameter name="@Content" layout="${event-context:item=content}"/>
        <parameter name="@UserId" layout="${event-context:item=userid}"/>
        <parameter name="@TrueName" layout="${event-context:item=truename}"/>
        <parameter name="@IP" layout="${event-context:item=ip}"/>
        <parameter name="@Url" layout="${event-context:item=url}"/>

      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="Console" />
    <logger name="*" level="Trace" writeTo="TraceLog" />
    <logger name="*" level="Info" writeTo="db" />
    <logger name="*" minlevel="Warn" writeTo="ErrorLog,db" />

  </rules>
</nlog>